*.egg-info
.eggs
__pycache__
*.pyc
*.pyo
build
.pytest_cache
db.env
telegram_credentials.py
email_credentials.py
dist
.pypirc
*.pypirc
staticfiles/
unicom/staticfiles/
unicom/media/
email_inline_images
message_template_inline_images
_version.py
media/
reacher.env